{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"]
}
