.not-found {
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}

.not-found h1 {
  font-size: 1.1rem;
  margin: 1rem 0 3rem 0;
}

.not-found a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.not-found a:hover .icon {
  animation: moveRightAndBack 0.5s ease;
}
