@import '../../styles/variables.scss';

.CallListCard {
    border-radius: 10px;
    border: 1px solid lighten($color-dark-gray, 30%);
    margin: 10px 0;
    padding: 10px 20px; 
    position: relative;

    &__from {
        font-size: larger;
        font-weight: bold;
    }
    &__origin {
        color: $color-dark-gray;
        font-size: smaller;
        margin-top: 5px;

        &--to {
            margin-right: 2px;
        }
        &--via {
            font-weight: bold;
        }
    }

    &__date {
        color: $color-dark-gray;
        font-size: smaller;
        position: absolute;
        right: 10px;
        top: 20px;
    }
}