#activity-detail {
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

#activity-detail h1 > span {
  font-size: 1.5em;
}

#activity-detail h1 div > * {
  font-size: 1.25em;
}

#activity-detail h1 > * {
  padding: 5px;
}

#activity-detail > div:last-child {
  padding-top: 1em;
  font-size: 1.25em;
}

#activity-detail > div:last-child > * {
  justify-content: space-between;
  height: 100px;
}
