html, body, h1, h2, h3, ul, li {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #233142;
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 1;
}

.container {
  overflow-y: scroll;
}