.button {
    background-color: #dbdbdb;
    color: #424242;
    font-size: 1.1em;
    font-weight: 700;
    padding: 8px 24px;
    width: 100%;
    border-radius: 8px;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 32px;
}

.button:hover {
    background-color: #bcbcbc;
}

.button:disabled {
    opacity: 0.4;
    cursor: default;
}