.header {
  margin: 10px 20px;
}

.detail {
  margin: 1em 20px 0;
}

.detail :global(.item) {
  font-size: 1.2em !important;
}

.back {
  float: right;
  padding: 2em;
  color: inherit;
  text-decoration: none;
}
