.call-list {
  padding-top: 1em;
}

.callDetails {
  background-color: #dfedde;
  border-bottom: 2px solid #2AC420;
  border-top: 2px solid #2AC420;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
}

.pretend_icon {
  background: #2AC420;
  display: inline-block;
  font-size: 0.5em;
}