.activity {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.1);
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
}
.activity div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.activity_details {
    flex: 1;
}
.activity_details span {
    line-height: 20px;
}
.activity_more-action {
    font-size: 20px;
    cursor: pointer;
}