.app {
  position: relative;

  width: 376px;
  height: 666px;
  z-index: 100;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

main {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

article {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;

  box-sizing: border-box;

  .app--detail-visible & {
    transform: translateX(0);
  }
}

