article {
  background-color: #FDFDFC;

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.details {
  padding: 16px;

  display: flex;
  flex-direction: column;

  &__header {
    height: 30px;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .call-icon {
    font-size: 30px;
  }

  &__name {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 16px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    user-select: none;
  }

  &__back {
    display: inline-flex;
    align-items: center;

    font-family: inherit;
    font-size: inherit;
    background: transparent;
    padding: 0;
    border: 0;

    outline: none;

    cursor: pointer;

    color: darkblue;

    &-icon {
      font-size: 16px;
      margin-right: 8px;
    }

    &-label {
      font-size: 14px;
    }
  }

  &__body {
    flex: 1;
    min-height: 0;
    width: 100%;
  }

  &__data {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    line-height: 32px;
    border: 0 solid #ddd;
    border-bottom-width: 1px;
    width: 100%;

    &-label {
      font-weight: bold;
      width: 80px;
      user-select: none;
    }

    &-value {
      flex: 1;
      min-width: 0;
    }
  }

  &__footer {
    text-align: center;
  }

  &__archive {
    margin-top: 32px;

    display: inline-flex;
    align-items: center;

    font-family: inherit;
    font-size: inherit;
    background: transparent;
    padding: 0 16px;
    border: 0;

    height: 32px;
    line-height: 32px;

    border-radius: 8px;

    background: #DD401C;
    color: white;

    outline: none;

    cursor: pointer;

    &:hover {
      background: rgba(#DD401C, .9);
    }

    &-icon {
      font-size: 20px;
      margin-right: 8px;
    }

    &-label {
      font-size: 18px;
    }
  }
}
