main {
  padding: 20px;

  background-color: #FDFDFC;

  .call {
    margin: 8px 0;
  }
}

.call-group {
  margin-top: 16px;

  &__name {
    text-align: center;
    color: #999;
    font-size: 12px;

    user-select: none;
  }

  &:first-child {
    margin-top: 0;
  }
}

.call {
  display: flex;
  align-items: center;

  background-color: white;

  height: 48px;

  border: 1px solid #ddd;
  border-radius: 12px;

  padding: 4px;

  user-select: none;

  cursor: pointer;

  .call-icon {
    font-size: 20px;
    margin: 0 16px;
  }

  &__info {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
  }

  &__name,
  &__via {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__name {
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-weight: bold;
  }

  &__via {
    font-size: 12px;
    line-height: 14px;
    color: #999;
  }

  &__time {
    font-size: 12px;
    margin: 0 8px;
    color: #333;
  }
}
