main {
  padding: 20px;

  background-color: #FDFDFC;

  .call {
    margin: 8px 0;
  }
}

.call-group {
  margin-top: 16px;

  &__name {
    text-align: center;
    color: #999;
    font-size: 12px;

    user-select: none;
  }

  &:first-child {
    margin-top: 0;
  }
}
