@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  color: #233142;
}

body {
  background: #233142;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  outline: none;
  border: none;
}
